<!doctype html>
<html>
		<head>
				<meta charset="utf-8">
				<title>Invoice</title>
				<link rel="stylesheet" href="http://{{ app.request.host }}/assets/css/invoice.css">
				<link rel="license" href="http://www.opensource.org/licenses/mit-license/">
		</head>
		<body>
				<div id='header'>
						<h1>Invoice</h1>
						<div class='address'>
								<p>{{invoice.from.name}}</p>
								<p>{{invoice.from.address}}</p>
								<p>{{invoice.from.phone}}</p>
						</div>
					<!--	<span><img alt="" src="logo.png"><input type="file" accept="image/*"></span> -->
				</div>
				<div class='article'>
						<h1>Recipient</h1>
						<div>
								<div style='width:300px;'>{{invoice.to.name}}</div>
								<div style='width:200px;font-size:14px;'>{{invoice.to.address|replace({',': ",\n"})}}</div>
						</div>
						<table class="meta">
								<tr>
										<th><span>Invoice #</span></th>
										<td><span>{{invoice.invoiceid}}</span></td>
								</tr>
								<tr>
										<th><span>Date</span></th>
										<td><span>{{invoice.date}}</span></td>
								</tr>
								<tr>
										<th><span>Amount Due</span></th>
										<td><span id="prefix">&pound;<span><span>{{invoice.total|number_format(2)}}</span></td>
								</tr>
						</table>
						<table class="inventory">
								<thead>
										<tr>
												<th><span>Description</span></th>
												<th><span>Quantity</span></th>
												<th><span>Price</span></th>
												<th><span>Subtotal</span></th>
										</tr>
								</thead>
								<tbody>
								{% for item in invoice.items %}
										<tr>
												<td><span>{{item.description}}</span></td>
												<td><span>{{item.quantity}}</span></td>
												<td><span data-prefix>&pound;</span><span>{{item.price|number_format(2)}}</span></td>
												<td><span data-prefix>&pound;</span><span>{{(item.price * item.quantity)|number_format(2)}}</span></td>
										</tr>
								{% endfor %}
								</tbody>
						</table>
						<table class="balance">
								<tr>
										<th><span>Total</span></th>
										<td><span data-prefix>&pound;</span><span>{{invoice.total|number_format(2)}}</span></td>
								</tr>
						</table>
				</div>
				<div class='aside'>
						<h1><span>Additional Notes</span></h1>
						<div>
								<p>{{invoice.notes}}</p>
						</div>
				</div>
		</body>
</html>
